.spinner {
    min-width: 40px;
    min-height: 40px;
    border: 5px solid rgba(45, 42, 38, 0.2);
    border-right: 5px solid #61dafb;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.spinnerWrap {
    background-color: #fcfcf0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fullScreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
